<ion-view title="Griffins Football">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-avatar">
          <img src="img/helmet.png">
          <h2>Tranans återkomst</h2>
          <p>Succe-coachen förlänger</p>
        </div>

        <div class="item item-image">
          <img src="img/trana.jpg">
        </div>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-arrow-right"></i>
          Läs mer
        </a>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Här kommer det en nyhet minsann!
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Här kommer det en nyhet minsann!
      </div>
    </div>
  </ion-content>
</ion-view>
